doctype html

html(lang='en')
    body
        form(method="post" action="/")
            input(type=text name="name")
            button(type="submit") Add Name

        table
            each n in names
                tr
                    td= n